<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>License Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<center>
<body>
    <h2>
        <br/><br/><br/><br/><br/><br/>
        TTI License Manager
        <br/><br/>
    </h2>

    <form action="/search" method="get" target="_blank">
      <input type="text" name="query">
      <input type="submit" value="Search Name">
    </form>
</body>
</center>
</html>