<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>License Manager</title>
</head>
<body>
    <h2>
        No Results Found
    </h2>

    <p>Search again:</p>
    <form action="/search" method="get" target="_blank">
      <input type="text" name="query">
      <input type="submit" value="Search">
    </form>

    <p>Or, Add User "NAME":</p>
    <br/>
    <form action="/kv-record" method="post">
      First name: <input type="text" name="fname"><br>
      Last name: <input type="text" name="lname"><br>
      <input type="submit" value="Submit">
    </form>
</body>
</html>