<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>License Manager</title>
</head>
<body>
    <h2>
        No Results Found
    </h2>
    <br/>
    <form action="/kv-record/{{ name }}" method="get">
        <button type="submit">Create new User "{{ name }}"?</button>
    </form>
    <br/>
    <p>Or, Search again:</p>
    <form action="/search" method="get" target="_blank">
      <input type="text" name="query">
      <input type="submit" value="Search">
    </form>

</body>
</html>