<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>License Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <h2>
        <br/>
        TTI License Manager
        <br/><br/>
        {{ userID }}
    </h2>
    <table class="table">
        <thead class="thead-light">
        <tr align="center">
            <th colspan="3" align="center">Software</th>
        </tr>
        {% for program, info in software.items() %}
        <tr>
            <th>{{ program }} </th>
            <th></th>
            <th></th>
        </tr>
        {% for key, detail in info.items() %}
        <tr>
            <td> </td>
            <td>{{ key }}</td>
            <td>{{ detail }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
    </table>
</body>
</html>